@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Typography */
html {
  height: 100%;
  width: 100%;
}
body {
  @apply flex h-full flex-col justify-between bg-white font-sans text-[15px];
}

.text-size-1 {
  @apply md:text-2xl lg:text-4xl;
}

.text-size-1-bold {
  @apply text-size-1 font-bold;
}

.text-caption {
  @apply text-xs md:text-xl;
}

.blend-difference {
  mix-blend-mode: difference;
  color: white;
}
